# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*
!.env.example

# Database files
*.db
*.sqlite3

# Pytest cache
.pytest_cache/

# IDE files
.vscode/
.idea/
